#nav .menu-mobile .open-close:before, #nav .menu-mobile .open-close:after {
    content:none;
}
#nav .menu-mobile .open-close.plus:before {
    content:'+';
    transform:rotate(0deg);
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:24px;
    display: block;
    overflow:hidden;
}
#nav .menu-mobile .open-close.minus:before {
    content:'-';
    transform:rotate(0deg);
    color:#000;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:24px;
    display: block;
    overflow:hidden;
}
.logo-img{
    width: 80px;
    height: 30px;
}
#header .links li.welcome {
    text-align:left;
}
#nav .bottomstatic .btn {
    min-width: 81px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    color: #020202;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#nav .menu > ul > li > ul > li > a {
    height:50px;
}
.minicart-wrapper a.action:after {
    font-size:15px;
}
.minicart-wrapper a.action:after {
    top:-4px;
}
@media only screen and (max-width: 1201px) {
    img.logo-tab {
        display:none;
    }
}
@media only screen and (max-width: 998px) {
    img.logo-tab {
        display:inline;
    }
}
/* Pagination style */
.pagination>li>a, .pagination>li>span {
	border-radius:50%;
	margin-left:20px;
	border:1px solid #FFF;
	color:#000;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-radius:50%;
	border:1px solid #000;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius:50%;
	border:1px solid #000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color:#291d88;
	border-color:#291d88;
}
@media (max-width: 766px) {
.pagination>li>a, .pagination>li>span {
    border-radius: 50%;
    margin-left: 4px;
    border: 1px solid #fff;
    color: #000;
  }
  .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 10px;
        line-height: 1.33;
        text-decoration: none;
        color: #1f1f1f;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-left: 6px;
    }
}
@media only screen and (max-width: 600px) {
    div[class*=round_tag] {
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        letter-spacing: -.03em;
    }
      .round_tag_lt, .tag_lt {
        top: -10px;
        left: 0px !important;
     }
}