@font-face {

	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ftd2ju');
	src:url('fonts/icomoon.eot?ftd2ju#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ftd2ju') format('truetype'),
		url('fonts/icomoon.woff?ftd2ju') format('woff'),
		url('fonts/icomoon.svg?ftd2ju#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

}

@mixin iconFont() {

	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.container {

	[class^="icon-"], [class*=" icon-"] {
		
		&:before {@include iconFont;}

	}
}


.icon-heart:before {
    content: "\e909";
}
.icon-cloud:before {
    content: "\e90a";
}
.icon-star:before {
    content: "\e90b";
}
.icon-tv:before {
    content: "\e90c";
}
.icon-sound:before {
    content: "\e90d";
}
.icon-video:before {
    content: "\e913";
}
.icon-trash:before {
    content: "\e914";
}
.icon-user:before {
    content: "\e915";
}
.icon-key:before {
    content: "\e916";
}
.icon-search:before {
    content: "\e917";
}
.icon-settings:before {
    content: "\e918";
}
.icon-camera:before {
    content: "\e919";
}
.icon-tag:before {
    content: "\e91a";
}
.icon-lock:before {
    content: "\e91b";
}
.icon-bulb:before {
    content: "\e91c";
}
.icon-pen:before {
    content: "\e91d";
}
.icon-diamond:before {
    content: "\e91e";
}
.icon-display:before {
    content: "\e91f";
}
.icon-box:before {
    content: "\e920";
}
.icon-eye:before {
    content: "\e921";
}
.icon-bubble:before {
    content: "\e922";
}
.icon-plant:before {
    content: "\e923";
}
.icon-cup:before {
    content: "\e924";
}
.icon-phone2:before {
    content: "\e925";
}
.icon-news:before {
    content: "\e926";
}
.icon-mail2:before {
    content: "\e927";
}
.icon-like:before {
    content: "\e928";
}
.icon-photo:before {
    content: "\e929";
}
.icon-note:before {
    content: "\e92a";
}
.icon-clock:before {
    content: "\e92b";
}
.icon-paperplane:before {
    content: "\e92c";
}
.icon-params:before {
    content: "\e92d";
}
.icon-banknote:before {
    content: "\e92e";
}
.icon-data:before {
    content: "\e92f";
}
.icon-music:before {
    content: "\e930";
}
.icon-megaphone:before {
    content: "\e931";
}
.icon-study:before {
    content: "\e932";
}
.icon-lab:before {
    content: "\e933";
}
.icon-graph:before {
    content: "\e934";
}
.icon-t-shirt:before {
    content: "\e935";
}
.icon-fire:before {
    content: "\e936";
}
.icon-clip:before {
    content: "\e937";
}
.icon-shop:before {
    content: "\e938";
}
.icon-calendar:before {
    content: "\e939";
}
.icon-wallet:before {
    content: "\e93a";
}
.icon-vynil:before {
    content: "\e93b";
}
.icon-truck:before {
    content: "\e93c";
}
.icon-world:before {
    content: "\e93d";
}
.icon-location-pin:before {
    content: "\e93e";
}
.icon-chevron-down:before {
    content: "\e900";
}
.icon-chevron-left:before {
    content: "\e901";
}
.icon-chevron-right:before {
    content: "\e902";
}
.icon-chevron-up:before {
    content: "\e903";
}
.icon-check:before {
    content: "\e904";
}
.icon-cross:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e906";
}
.icon-minus:before {
    content: "\e907";
}
.icon-plus:before {
    content: "\e908";
}
.icon-quotes-left:before {
    content: "\e90e";
}
.icon-quotes-right:before {
    content: "\e90f";
}
.icon-smile2:before {
    content: "\e910";
}
.icon-sad2:before {
    content: "\e911";
}
.icon-neutral2:before {
    content: "\e912";
}
.icon-twitter-square:before {
    content: "\f081";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-linkedin-square:before {
    content: "\f08c";
}
.icon-phone:before {
    content: "\f095";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-youtube-square:before {
    content: "\f166";
}