 .nav-block {
        position: relative;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        -webkit-box-shadow: 0 0 1px 0 rgba(127, 127, 127, 0.2);
        box-shadow: 0 0 1px 0 rgba(127, 127, 127, 0.2);
    }
    .icon-down:before {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 15px;
    }
    .product-items .product-item-photo .product-image-wrapper {
        display: block;
        overflow: hidden;
        position: relative;
        border: 0px solid #00000012;
    }
    .product-info-main .sizechart {
        display: block !important; 
    }
    .icon-delete-outline:before {
        content: "\f00d";
        font-family: FontAwesome;
    }
    .product-color, .product-size {
        float: left;
        width: 100%;
    }
    .product-color a {
        width: 38px;
        height: 16px;
        border-radius: 16px;
        display: inline-block;
        position: relative;
        margin-right: 8px;
    }
    .disabled-size {
        color:#000 !important;
        background:#AAA !important;
        border-color:#AAA !important;
        cursor: not-allowed !important;
    }
    .disabled-size:hover {
        background:#AAA !important;
    }
    .product-info-main #product-options-wrapper .swatch-option.active {
        background:#555;
        color:#FFF;
    }
    .selected-color {
        border:3px solid #291d88;
    }
    .product-info-main .box-tocart .actions {
        padding:0;
    }
    .modal {
        text-align: center;
    }

    @media screen and (min-width: 768px) { 
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .btn {
        width:auto;
        height: 45px;
        font-size: 12px;
        line-height: 38px;
        padding-left:20px;
        padding-right:20px;
    }
    .btn.btn-light {
        background:#FFFA;
    }
    .btn:hover {
        color:#000;
    }
    .block.upsell .btn-prev, .block.upsell .btn-next {
        position:absolute;
        top:50%;
        background: rgba(255, 255, 255, 0);
    }
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:flex;
      flex-wrap: wrap;
    }
    .alertCartModal {
        margin-bottom: 10px;
        color: #1d0d9e;
        font-size: 17px;
        text-align:center;
        letter-spacing: 1px;
    }
    @media (max-width: 767px) {
    .alertCartModal {
        margin-bottom: 10px;
        color: #1d0d9e;
        font-size: 14px;
        text-align:center;
        letter-spacing: 0px;
      }
      .title_mobile{
          font-size: 14px;
      }
    }
    .custom-carousel {
	  position:relative;
	  display:inline-block;
	  width:100%;
	  padding-bottom:150%;
	  border: 1px solid #eee;
  }
  .custom-carousel .item{
	  opacity:0;
	  -webkit-transition:opacity 1s;
	  transition:opacity 1s;
	  position:absolute;
	  width:100%;
	  height:100%;
	  left:0;
  }
  .custom-carousel .item.active {
	  opacity:1;
  }
  /*Active filering */
  .sidebar .filter-holder ul li .m-filter-item-list li a.active:after {
    background:#000;
  }
  @media (max-width: 768px) {
    img.brand-img {
        width: 87px !important; } 
      
  }
    /*Find in store css */
   a.simple.button {
        height: 60px;
        background-color: #FFF;
        color: #291e88;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0 7px;
        float: left;
        border: 1px solid #eee;
        border-width: 1px;
        border-color: #bebebe;
        margin-top: 0px;
        z-index: 5;
        margin-bottom: 20px;
    }
    .find_store_close {
		float: right;
		position: absolute;
		top: 24px;
		right: 26px;
		margin-right: -7px;
		cursor: pointer;
		height: 21px;
		z-index: 9999;
		width: 30px;
	}
    .searchstore {
        display: inline-block;
        margin-top: -20px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #bebebe;
        border-top: 0;
    }
    #preferred-store-panel {
        padding: 5px 0 8px;
    }
    .find-list {
        clear: both;
        padding: 13px 20px 0;
    }
    .stockmsg {
        font-size: 14px;
        text-align: center;
        color: #666;
        width: 100%;
        float: left;
        margin: 5px 0 11px;
    }
    .find-list input {
        color: gray!important;
    }
    .searchstore strong.find {
        background-position: -45px -730px;
        height: 40px;
        width: 45px;
        display: inline-block;
    }
    body .ae-compliance-indent:not(label):not(.ae-reader-visible), body:not(.ae-reader) label.ae-compliance-indent, body:not(.ae-reader) .ae-reader-visible.ae-compliance-indent {
        display: inline-block !important;
        height: 1px;
        left: -9999px !important;
        line-height: 0px;
        overflow: hidden;
        position: absolute !important;
        top: auto;
        white-space: nowrap;
        width: 1px !important;
    }

    availability-instore .searchstore #preferred-store-panel .find-list input {
        color: gray!important;
    }
    .searchstore {
        display: inline-block;
        margin-top: -20px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #bebebe;
        border-top: 0;
		display:none;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .store-tile {
        margin: 0;
        border-bottom: 1px solid #bebebe;
        padding: 15px 20px 8px;
        font-size: 12px;
    }
    .searchstore .searchresults .store-list-container {
        width: 100%;
        box-sizing: border-box;
    }
    #QuickViewDialog ul, .pdp-main ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .searchstore .searchresults .store-list-container .store-tile {
        margin: 0;
        border-bottom: 1px solid #bebebe;
        padding: 15px 20px 8px;
        font-size: 12px;
    }
    .searchstore .store-list-container {
        overflow: visible;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-address {
        float: left;
        text-align: left;
        line-height: 29px;
		width:60%;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details {
        text-align: right;
        position: relative;
        float: right;
    }
    .searchresults .store-list-container .store-tile .store-details span.instock{
        text-transform: uppercase;
        margin: 11px 0 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
		padding-top: 52px;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.instock:before {
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #00cb00;
        float: left;
        position: relative;
        right: 6px;
        top: 1px;
        display: inline-block;
        margin-top: 0;
    }
    .searchstore .searchresults .store-list-container .store-tile {
        margin: 0;
        border-bottom: 1px solid #bebebe;
        padding: 15px 20px 8px;
        font-size: 12px;
    }
    .searchstore .searchresults .store-list-container p.not-available-stock {
        color: #000;
        font-size: 14px;
        padding-bottom: 12px;
        width: 100%;
        text-align: center;
        float: left;
        margin: 12px 0 0;
        text-transform: uppercase;
        border-bottom: 1px solid #bebebe;
    }
    .store-tile {
        box-sizing: border-box;
        float: left;
        list-style: none;
        margin: .3rem .4rem;
        padding: .8rem;
        text-align: center;
        width: 100%;
    }
    .searchstore .searchresults .store-list-container .store-tile {
        margin: 0;
        border-bottom: 1px solid #bebebe;
        padding: 15px 20px 8px;
        font-size: 12px;
    }
    .store-details {
        text-align: right;
        position: relative;
        float: right;
    }
    .searchresults .store-list-container .store-tile .store-details span.opening {
        width: 100%;
        display: inline-block;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.lowstock:before {
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #ffb600;
        float: left;
        position: relative;
        right: 6px;
        top: 1px;
        display: inline-block;
        margin-top: 0;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.stockmessage {
        position: absolute;
		top: 56px;
		line-height: 20px;
		padding: 1px 0;
		width: 204px;
		text-transform: none;
		background: #FFF;
		border: 2px solid #000;
		z-index: 99;
		text-align: center;
		font-style: normal;
		right: 108%;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.outofstock {
        text-transform: uppercase;
        margin: 11px 0 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.outofstock:before {
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #f22;
        float: left;
        position: relative;
        right: 6px;
        top: 4px;
        margin-top: 0;
    }
    .searchstore .searchresults .store-list-container .morestore {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        color: #000;
        cursor: pointer;
        text-decoration: underline;
    }
    .searchstore .searchresults .store-list-container .store-tile .store-details span.lowstock {
    float: none;
    width: auto;
}
.searchstore .searchresults .store-list-container .store-tile .store-details span.lowstock{
    text-transform: uppercase;
    margin: 11px 0 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-top:46px;
}
.product-shop {
    margin: 0 0 15px;
    padding: 0 19px;
    padding-top: 75px;
}
.form-control{
	height: 40px;
}
span.heading-name {
    font-weight: 600;
}
.dropdown-menu {
    padding: 8px 5px !important;
}
.dropdown-menu > li:first-child {
    border: 1px solid #ddd !important;
}
@media (max-width: 576px) { 
	span.find_store_close {
		top: 24px !important;
		right: 0px !important;
	  }
	  .form-control {
		height: 30px;
	}
	.searchstore .searchresults .store-list-container .store-tile .store-address{
		width: 55%;
        font-size: 8pt;
	}
	.searchstore .searchresults .store-list-container .store-tile .store-details{
		padding-top: 18px;
		width: 42%;
	}
	.searchstore .searchresults .store-list-container .store-tile .store-details span.stockmessage{
		width: 133px;
	}
}