@media (min-width: 1200px){
    .bp-section > .header-section[data-v-72bbedf8] {
        height: 325px;
        margin-bottom: 0;
        padding-top: 50px;
    }
}
.bp-section > .header-section[data-v-72bbedf8] {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
}
main#page {
    padding-top: 84px;
}
.inner-header{
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 545px;
}
text[data-v-3b9ae1da] {
    margin-bottom: 20px;
    width: 100%;
}
.header-section > .logo[data-v-72bbedf8] {
    height: 26%;
    position: static;
}
.header-section > .logo[data-v-72bbedf8] {
    height: 26%;
    top: 65px;
}
.sessions > .register[data-v-3b9ae1da] {
    flex-grow: 1;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: opacity 0.12s ease-in-out;
    color: #fff;
    background-color: #000;
    border-color: #000;
    padding: 13px 15px 9px;
    font-size: 16px;
    line-height: 16px;
}
.inner-header > .sessions[data-v-3b9ae1da] {
    margin: 0;
    width: 100%;
}
.inner-header > .sessions[data-v-3b9ae1da] {
    margin-top: 10px;
    max-width: 566px;
}
.inner-header > .sessions[data-v-3b9ae1da] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.sessions > .sign-in[data-v-3b9ae1da] {
    background: white;
    border: 1px solid black;
    color: black;
    flex-grow: 1;
    text-transform: uppercase;
}
.sessions > .or[data-v-3b9ae1da] {
    margin-left: 20px;
    margin-right: 20px;
}
.bp-section > .content-section[data-v-72bbedf8] {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.btn, .form-group, .form-control, .container, .container *, .container-fluid, .container-fluid * {
    box-sizing: border-box;
}
.bp-container[data-v-72bbedf8] {
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
.rewards-container[data-v-506590fb] {
    align-content: space-between;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    justify-content: center;
    margin: 0 auto;
}
.rewards-container[data-v-506590fb] {
    padding-bottom: 30px;
    padding-top: 30px;
}
.heading-container[data-v-61fb2e0f] {
    order: 1;
    text-align: left;
    width: 300px;
}
.heading-container > .title[data-v-61fb2e0f] {
    margin: 0;
    width: 290px;
}
.heading-container > .title[data-v-61fb2e0f] {
    font-family: "Sephora Serif", Palatino, Georgia, Times;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 30px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 80%;
}
.heading-container[data-v-61fb2e0f] {
    order: 1;
    text-align: left;
    width: 300px;
}
.heading-container > .description[data-v-61fb2e0f] {
    margin-left: 0;
    margin-right: 0;
}
.heading-container > .description[data-v-61fb2e0f] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
}
@media (min-width: 1200px){
    .heading-container[data-v-61fb2e0f] {
        order: 1;
        text-align: left;
        width: 300px;
    }
}
.view-rewards[data-v-506590fb] {
    justify-content: flex-start;
    order: 2;
    width: 300px;
}
.content-section > .hr[data-v-72bbedf8] {
    margin-left: 0;
    margin-right: 0;
}
.gifts-container[data-v-20494ef0] {
    align-content: space-between;
    display: flex;
    flex-flow: column-reverse wrap;
    height: 350px;
    justify-content: center;
    margin: 0 auto;
}
.heading-container[data-v-61fb2e0f] {
    order: 1;
    text-align: left;
    width: 300px;
}
.heading-container > .title[data-v-61fb2e0f] {
    margin: 0;
    width: 290px;
}
.heading-container > .title[data-v-61fb2e0f] {
    font-family: "Sephora Serif", Palatino, Georgia, Times;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 30px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 80%;
}
.heading-container[data-v-61fb2e0f] {
    order: 1;
    text-align: left;
    width: 300px;
}
.gifts-container > .gifts[data-v-20494ef0] {
    justify-content: space-between;
    width: 550px;
}
.gifts-container > .gifts[data-v-20494ef0] {
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
}
.gift > .img[data-v-20494ef0] {
    height: 170px;
    margin-bottom: 15px;
}
.gift > .img[data-v-20494ef0] {
    margin-bottom: 8px;
    height: 115px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.gift > .title[data-v-20494ef0] {
    font-weight: 600;
    text-transform: uppercase;
}
.gifts > .gift[data-v-20494ef0] {
    width: 250px;
}
.points-container[data-v-04702ec3] {
    align-content: space-between;
    display: flex;
    flex-flow: column wrap;
    height: 345px;
    justify-content: center;
    margin: 0 auto;
}
.points-container[data-v-04702ec3] {
    padding-bottom: 30px;
    padding-top: 30px;
}
.points-container > .points[data-v-04702ec3] {
    margin: 0;
    order: 2;
    width: 630px;
}
.points-container > .points[data-v-04702ec3] {
    flex-flow: column wrap;
    height: 230px;
}
.points-container > .points[data-v-04702ec3] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
}
.points > .point[data-v-04702ec3] {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.point > .img[data-v-04702ec3] {
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.point > .icon-1[data-v-04702ec3] {
    background: url(https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_PointIcon_Web-1-dc2df2d36dcb4839426e7dbc088c1ef5.svg);
}
.point > .icon-3[data-v-04702ec3] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_PointIcon_Web-3-cea40a171bfbaffaf30d29065d589583.svg");
}

.point > .img[data-v-04702ec3] {
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.detail > .title[data-v-04702ec3] {
    font-weight: 600;
}
.points-container > .points[data-v-04702ec3] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    text-align: left;
}
.point > .detail[data-v-04702ec3] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}
.point > .icon-2[data-v-04702ec3] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_PointIcon_Web-2-af0ec4fd26a08a29959e25e6e6000989.svg");
}
.point > .icon-5[data-v-04702ec3] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_PointIcon_Web-5-c0d893a224f059e4308a78aaea4b1644.svg");
}
.membership-container[data-v-be2d245e] {
    margin-left: auto;
    margin-right: auto;
}
.membership-container[data-v-be2d245e] {
    padding-bottom: 30px;
    padding-top: 30px;
}
.membership-container > .title[data-v-be2d245e] {
    font-family: "Sephora Serif", Palatino, Georgia, Times;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}
.membership-container > .levels-table[data-v-be2d245e] {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}
.membership-container > .levels-table[data-v-be2d245e] {
    background: #F4F4F4;
    border: none;
    margin-top: 25px;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.tr[data-v-be2d245e] {
    border: none;
}
table > tr {
    vertical-align: middle;
}
.tr > .td[data-v-be2d245e]:first-child {
    padding-left: 36px;
}
.tr > .td[data-v-be2d245e]:first-child {
    text-align: left;
}
.td[data-v-be2d245e] {
    border: none;
    height: 57px;
    padding: 8px;
}
.tr > .td[data-v-be2d245e]:not(:first-child) {
    font-weight: 600;
    border-left: 3px solid white;
}
.td[data-v-be2d245e] {
    border: none;
    height: 57px;
    padding: 8px;
}
@media (min-width: 576px){
    .td > .card-icon[data-v-be2d245e] {
        height: 70px;
        width: 92px;
    }
}
/*.td > .card-icon[data-v-be2d245e] {
    height: 34px;
    width: 46px;
}*/
.svg-icon.white-card {
    background-image: url(http://192.168.1.182:8080/pride_new_v/storage/app/public/loyalty/card.svg);
}
.svg-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 576px){
    .tr > .td[data-v-be2d245e]:first-child {
        padding-left: 36px;
    }
}
.tr > .td[data-v-be2d245e]:first-child {
    text-align: left;
}
.td[data-v-be2d245e] {
    border: none;
    height: 57px;
    padding: 8px;
}

.td > .dot[data-v-be2d245e] {
    background-color: black;
    border-radius: 50%;
    height: 12px;
    margin: auto;
    width: 12px;
}
.td > .red-dot[data-v-be2d245e] {
    background-color: #d50032;
}

.td > .gold-dot[data-v-be2d245e] {
    background-color: #c0ae8c;
}
@media (min-width: 1200px){
    .how-container[data-v-0834b57d] {
        margin-left: auto;
        margin-right: auto;
    }
}
.how-container[data-v-0834b57d] {
    padding: 30px 15px;
}
.how-container > .title[data-v-0834b57d] {
    font-family: "Sephora Serif", Palatino, Georgia, Times;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}
@media (min-width: 576px){
    .how-container > .hows[data-v-0834b57d] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
.how-container > .hows[data-v-0834b57d] {
    margin-top: 30px;
}

.hows > .how[data-v-0834b57d] {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}
@media (min-width: 576px){
    .hows > .how[data-v-0834b57d] {
        display: block;
        width: 140px;
    }
}
.img-section > .img-create[data-v-0834b57d] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_Howitworks_Web-1-20c23885751128f1103f5b85199ae4b5.svg");
}

.img-section > .img[data-v-0834b57d] {
    height: 70px;
    margin-right: 10px;
    width: 70px;
}
@media (min-width: 576px){
    .img-section > .img[data-v-0834b57d] {
        height: 120px;
        margin: 0 auto;
        width: 120px;
    }
}
@media (min-width: 576px){
    .description[data-v-0834b57d] {
        text-align: center;
    }
}

.img-section > .img-earn[data-v-0834b57d] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_Howitworks_Web-2-59fdb69b41dc818282fc603caf1b27c5.svg");
}

.img-section > .img-rewarded[data-v-0834b57d] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_Howitworks_Web-3-c26c858e5bacb59de70af093841db4dc.svg");
}

.img-section > .img-upgrade[data-v-0834b57d] {
    background: url("https://www.sephora.sg/assets/media/vue/assets/images/account/beauty_pass/icons/BP_Revamp_Howitworks_Web-4-a428880c28a257baf4de5c309e267f27.svg");
}

.faqs-container[data-v-0f0c09c8] {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 1200px){
    .faqs-container[data-v-0f0c09c8] {
        margin-left: auto;
        margin-right: auto;
    }
}
.h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 18px;
}
.faqs-container > .title[data-v-0f0c09c8] {
    font-family: "Sephora Serif", Palatino, Georgia, Times;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
}
.faqs[data-v-0f0c09c8] {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
.faqs > .faq[data-v-0f0c09c8]:first-child {
    border-top: 1px solid #F2F2F2;
}
.faq[data-v-0f0c09c8] {
    padding: 15px 10px;
    border-bottom: 1px solid #F2F2F2;
}
.faq .answer[data-v-0f0c09c8] {
    margin-top: 10px;
}
i.collapse-arrow {
    position: absolute;
    right: 16px;
    height: 15px;
    width: 15px;
    background: url(http://localhost:8080/pride_new_v/storage/app/public/loyalty/arrow-right.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.collapse-arrow[data-v-0f0c09c8] {
    right: 10px;
    position: static;
    display: block;
    float: right;
}
@media (min-width: 576px){
    .collapse-arrow[data-v-0f0c09c8] {
        right: 50px;
    }
}
.accordion .collapsed i.collapse-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
@media (min-width: 576px){
    .collapse-arrow[data-v-0f0c09c8] {
        right: 50px;
    }
}
.collapse-arrow[data-v-0f0c09c8] {
    right: 10px;
    position: static;
    display: block;
    float: right;
}
.view-rewards[data-v-506590fb] {
    font-weight: 600;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.view-faqs[data-v-0f0c09c8] {
    font-weight: 600;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}