/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2018, 5:18:56 PM
    Author     : inzamamul_web
*/
.checkout-table tbody tr td:first-child, .checkout-table tbody tr th:first-child {
    max-width: 100px;
}
.module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 6px 0px 20px;
}
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    color: black;
    font-weight:bold;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
/*dashboard */
.block-account {
    background-color: #f3f3f3;
}
.block .block-title {
    color: #000;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 8px 24px;
    font-weight: bold;
    text-transform: none;
    background: #f3f3f3;
}
.block-account .block-content {
    padding: 0 10px;
}
.block-account .block-content {
    padding: 0 10px;
}
/*.block .block-content {
    border-top: medium none;
    font-size: 12px;
    overflow: hidden;
    padding: 15px 0;
} */
.block-account .block-content li {
    padding: 10px 0px;
    border-top: 1px #fff solid;
    border-bottom: 1px #ddd solid;
}
.block-account .block-content li a {
    cursor: pointer;
    padding: 0 22px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.sidebar a, .sidebar .block-layered-nav .price .sub {
    color: #222;
    font-size: 15px;
}
.block-account .block-content li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    line-height: 23px;
    color: #333;
}
.sidebar ol, .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 15px;
}
.sidebar .block-content li.current {
    font-weight: 900;
    color: #333;
}
.page-title h1, .page-title h2 {
    color: #000;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
